/*
    THEME COLOR
*/
:root {
    --minimum-container-width       : 320px;

    --sans-serif-font               : 'Roboto', sans-serif;
    --sans-serif-title-font         : 'Archivo', sans-serif;
    --font-bold                     : 500;

    --icon-font                     : 'feather';
    --icon-size                     : 24px;

    --border-size                   : 1px;
    --border-radius                 : 10px;

    --spacing                       : 20px;
    --bar-spacing                   : var(--spacing);

    --frost-blur-size               : 1px;
    --glass-blur-size               : 10px;

    --dark-color                    : rgb(235, 237, 245);
    --dark-background-color         : rgb(35, 37, 45);
    --dark-background-shade         : rgb(15, 17, 25);
    --dark-background-highlight     : rgb(45, 47, 58);
    --dark-background-item          : rgb(37, 39, 48);
    --dark-border                   : var(--border-size) solid rgba(128, 128, 128, 0.5);
    --dark-drop-shadow             : 0px 0px 10px rgba(0,0,0,0.75);

    --light-color                   : var(--dark-background-color);
    --light-background-color        : var(--dark-color);
    --light-background-shade        : rgb(205, 207, 225);
    --light-background-item         : rgb(247, 248, 255);
    --light-border                  : var(--dark-border);
    --light-drop-shadow             : 0px 0px 10px rgba(0,0,0,0.4);

    --accent-color                  : var(--dark-color);
    --accent-background-color       : rgb(41, 133, 255);
    --accent-background-shade       : rgb(21, 113, 235);
    --accent-background-item        : rgb(75, 152, 253);
    --accent-border                 : var(--border-size) solid rgba(13, 45, 87, 0.5);

    --panel-drop-shadow             : 0px 0px 60px rgba(0,0,0,0.9);

    --minimum-page-width            : var(--minimum-container-width);
    --page-title-height             : calc(var(--icon-size) * 1.5);

    --mobile                        : 0;
    --desktop                       : 1;
}

/*
    PAGE RULES
*/

/*
    Default Width for all root elements
    + Makes the app as wide as the browser window
    + The app's height is minimum as high as the browser window height (for the background)
*/
html,
body,
#container {
    min-width               : var(--minimum-container-width);

    height                  : 100%;
}

/*
    Page Height
*/
body {
    margin                  : 0;

    font-family             : var(--sans-serif-font);

    color                   : var(--dark-color);

    overflow-x              : hidden;

    overscroll-behavior     : none;

    display                 : flex;
    flex-direction          : column;
}

/*
    Remove the oultine chrome puts around input elements by default
*/
*:focus {
    outline                 : none;
}

/* 
    LAYOUT UTILITIES
*/
.hidden {
    overflow                : hidden;
}

.padding {
    padding                 : var(--spacing);
}

.padding-left,
.h-padding {
    padding-left            : var(--spacing) !important;
}

.padding-right,
.h-padding {
    padding-right           : var(--spacing) !important;
}

.padding-top,
.v-padding {
    padding-top             : var(--spacing) !important;
}

.padding-bottom,
.v-padding {
    padding-bottom          : var(--spacing) !important;
}

.align-right {
    text-align  : right !important;
}

.align-center {
    text-align  : center !important;
}

.align-justify {
    text-align  : justify !important;
}

.align-left {
    text-align  : left !important;
}

.margin,
.margin-left,
.h-margin {
    margin-left     : var(--spacing) !important; 
}

.margin,
.margin-right,
.h-margin {
    margin-right    : var(--spacing) !important; 
}

.no-h-margin {
    margin-left     : calc(0px - var(--spacing)) !important; 
    margin-right    : calc(0px - var(--spacing)) !important; 
}

.margin,
.margin-top,
.v-margin {
    margin-top      : var(--spacing) !important; 
}

.margin,
.margin-bottom,
.v-margin {
    margin-bottom   : var(--spacing) !important; 
}

.no-v-margin {
    margin-top      : calc(0px - var(--spacing)) !important; 
    margin-bottom   : calc(0px - var(--spacing)) !important; 
}

.flex {
    display         : flex;
}

.flex.wrap {
    flex-wrap       : wrap;
}

.flex.column {
    flex-direction  : column;
}

.block {
    display     : block;
}

.inline-block {
    display     : inline-block;
}

.float-right {
    float       : right !important;
}

.float-left {
    float       : left !important;
}

.only-three-page-full-height,
.full-height {
    height      : 100%; 
}

.only-multi-page-scroll,
.scroll {
    overflow-y                  : overlay;
    -webkit-overflow-scrolling  : touch !important;
}

.minimum-page-width {
    min-width   : var(--minimum-page-width);
}

.minimum-page-width.padding {
    min-width   : calc(var(--minimum-page-width) - (var(--spacing) * 2));
}

.maximum-page-width {
    max-width   : var(--minimum-page-width);
}

.maximum-page-width.padding {
    max-width   : calc(var(--minimum-page-width) - (var(--spacing) * 2));
}

/* 
    STYLE UTILITIES
*/
.inverted {
    filter                  : invert(1);
}

.round {
    border-radius   : 50% !important;
}

.rounded {
    border-radius   : var(--border-radius);
}

.pointer {
    cursor              : pointer;
}

.glass {
    backdrop-filter             : blur(var(--glass-blur-size));
    -webkit-backdrop-filter     : blur(var(--glass-blur-size));
}

.frost {
    backdrop-filter             : blur(var(--frost-blur-size));
    -webkit-backdrop-filter     : blur(var(--frost-blur-size));
}

.carbon,
.dialog .carbon,
.light .carbon {
    background-color    : var(--light-background-color);
    background          : radial-gradient(var(--light-background-shade) 15%, transparent 16%) 0 0,
                          radial-gradient(var(--light-background-shade) 15%, transparent 16%) 4px 4px,
                          radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
                          radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 4px 5px
                          ;
    background-size     : 8px 8px;
}

.carbon.dark {
    background-color    : var(--dark-background-color);
    background          : radial-gradient(var(--dark-background-shade) 15%, transparent 16%) 0 0,
                          radial-gradient(var(--dark-background-shade) 15%, transparent 16%) 4px 4px,
                          radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
                          radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 4px 5px;
    background-size     : 8px 8px;
}

[data-loading=""],
[data-offline=""] {
    display             : none;
    visibility          : hidden;
}
.loading,
.offline {
    overflow: hidden;
}
[data-loading]:not([data-loading=""])::before,
[data-offline]:not([data-offline=""])::before,
.offline::before,
.loading::before {
    content             : '';
    position            : absolute;
    top                 : 0;
    right               : 0;
    bottom              : 0;
    left                : 0;

    z-index             : 65534;

    background-color    : var(--light-background-color);

    opacity             : 0.95;

    animation           : animate-fadein 0.1s ease-out;
}
[data-loading]:not([data-loading=""])::after,
[data-offline]:not([data-offline=""])::after,
.offline::after,
.loading::after {
    font-family         : var(--icon-font);
    font-size           : calc(var(--icon-size) * 2); 
    position            : absolute;
    top                 : calc(50% - var(--icon-size));
    left                : calc(50% - var(--icon-size));

    text-align          : center;
    vertical-align      : middle;

    z-index             : 65535;
}
[data-loading]:not([data-loading=""])::after,
.loading::after {
    content             : '\e889';
    animation           : animate-rotate 2s infinite ease;
}
[data-offline]:not([data-offline=""])::after,
.offline::after {
    content             : '\e907';
    animation           : animate-offline 2s infinite ease;
}

.logo {
    width                   : 500px;
    height                  : 150px;

    display                 : inline-block;

    background-size         : contain;

    background-image        : url(img/silverscreen.png);

    background-position-y   : center;
    background-repeat       : no-repeat;
}

.only-child:not(:only-child),
.hidden:not(.animate) {
    display                 : none   !important;
    visibility              : hidden !important;
}

.animate {
    max-width               : 10000%;
    max-height              : 10000%;

    transition              : transform 0.2s ease-out,
                              opacity 0.2s ease-out,
                              max-width 0s linear 0s,
                              max-height 0s linear 0s,
                              visibility 0s linear 0s
                              ;
}
.animate.hidden {
    max-width               : 0px;
    max-height              : 0px;

    visibility              : hidden !important;

    transition              : transform 0.1s ease-out 0.2s,
                              opacity   0.1s ease-out 0.0s,
                              max-width   0s linear   0.2s,
                              max-height  0s linear   0.2s,
                              visibility  0s linear   0.2s
                              ;
}
.animate.hidden.delayed {
    transition              : transform 0.1s ease-out 0.7s,
                              opacity   0.1s ease-out 0.5s,
                              max-width   0s linear   0.7s,
                              max-height  0s linear   0.7s,
                              visibility  0s linear   0.7s
                              ;
}

.animate.zoom,
.animate.fade {
    opacity                 : 1;
}
.animate.zoom.hidden,
.animate.fade.hidden {
    opacity                 : 0;
}
.animate.zoom {
    transform               : scale(1);
}
.animate.zoom.hidden {
    transform               : scale(0.9);
}

@keyframes animate-rotate {
    from {
            transform       : rotate(0deg);
    }
    to {
            transform       : rotate(359deg);
    }
}

@keyframes animate-offline {
    0%,
    50% {
            content         : '\e8f3';
    }
    51%,
    100% {
            content         : '\e907';
    }
}

@keyframes animate-blink {
    0% {
            opacity         : 1;
    }
    50% {
            opacity         : 0;
    }
}

@keyframes animate-fadein {
    from {
            opacity         : 0;
    }
    to {
            opacity         : 1;
    }
}

/*
    ICONS
*/
.feather {
    font-size   : var(--icon-size);
}
.feather.x2 {
    font-size   : calc(var(--icon-size) * 2);
}
.feather.x1-3 {
    font-size   : calc(var(--icon-size) * 1.3);
}

/*
    OVERRIDE FIREBASE UI
*/
.firebaseui-idp-google:not(:hover) 
{
    background-color    : var(--dark-background-highlight);
}
.firebaseui-idp-password:not(:hover)
{
    background-color    : var(--dark-background-highlight);
}
.firebaseui-idp-google:not(:hover) > .firebaseui-idp-text 
{
    color               : var(--dark-color);
}

/*
    SECTION LOGIN
*/

/*
    This is the background for the page and for the sections
    It has a textures that looks like a material with small punctures in it.
*/
html,
body,
#container,
#section-login,
#section-home {
    /*background          : radial-gradient(rgb(0,0,0) 15%, transparent 16%) 0 0,
                          radial-gradient(rgb(0,0,0) 15%, transparent 16%) 4px 4px,
                          radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
                          radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 4px 5px
                          ;*/
    background-color    : var(--dark-background-color);
    background-size     : 8px 8px;
}

#home-menu {
    display             : none;
}

#section-splash {
    min-height          : 100%;

    position            : absolute;
    width               : 100%;

    background-color    : white;   

    text-align          : center; 

    display             : flex;
    align-items         : center;
    justify-content     : center;
    flex-direction      : column;

    visibility          : visible;

    z-index             : 65535;
}
#section-splash > .logo {
    width               : 50%;

    max-width           : 400px;
    max-height          : 120px;
}

#section-login {
    /* padding             : var(--spacing) 0; */

    text-align          : center; 

    display             : flex;
    align-items         : center;
    justify-content     : center;
    flex-direction      : column;

    visibility          : visible;
}

#section-login > div {
    /* max-width       : 380px; */
    min-width       : var(--minimum-container-width);
    min-height      : 384px;

    flex-direction      : column; 
    background-color    : var(--dark-background-shade);

    box-shadow: 0px 0px 100px rgba(0,0,0,0.8), inset 0px 0px 0px 1px rgba(128,128,128,0.4);
}

#section-login > div > h1 {
    margin      : var(--spacing);

    padding     : 0;

    text-align  : center;
}

#section-login > div > div {
    min-height          : 210px;
}

#section-login .logo {
    width               : 240px;
    height              : 74px;

    padding             : 0;

    margin              : calc(var(--spacing) * 2);

    filter              : invert(1);

    align-self          : center;
}

#section-login .icon {
    margin-top          : calc(var(--spacing) * 2);

    background-size     : contain;
}

@media (max-width: 360px) {
    #section-login > div {
        box-shadow      : none;

        border-radius   : 0;
    }

    #section-login > .logo {
        margin  : var(--spacing);

        top     : 0;
    }
}

#version-number
{
    position    : fixed;
    bottom      : var(--spacing);
    left        : var(--spacing);
    color       : var( --dark-background-shade);
    z-index     : 1;
    text-shadow : 0px 0px 10px rgba(255,255,255,0.3);
}

/*
    MODULAR CONTAINERS
*/
.modal-container,
.dialog-container {
    position                : absolute;
    top                     : 0px;
    right                   : 0px;
    bottom                  : 0px;
    left                    : 0px;

    text-align              : center; 

    display                 : flex;
    align-items             : center;
    justify-content         : center;
    flex-direction          : column;

    z-index                 : 32000;
}

.modals,
.dialogs {
    /* border                  : var(--dark-border); */
    box-shadow              : var(--panel-drop-shadow),
                              0px 0px 10000px 10000px rgba(0,0,0,0.5);

    overflow                : overlay;

    border-radius           : var(--border-radius);
}

/*
    CONTROLS
*/
.modal,
.dialog {
    max-height              : calc(100% - (var(--spacing) * 10));

    border-radius           : var(--border-radius);

    color                   : var(--light-color);

    background-color        : var(--light-background-color);

    position                : relative;

    display                 : flex;
    /* flex-direction          : column;  */

    overflow                : hidden;
}
.dialog .title {
    font-weight             : var(--font-bold);

    /* line-height             : calc((var(--spacing) / 1) + var(--icon-size)); */
    line-height             : var(--icon-size);

    text-transform          : uppercase;

    font-size               : 0.8em;

    padding                 : calc((var(--spacing) / 2));

    z-index                 : 2;

    text-align              : left;

    flex-grow               : 0;
}

.page {
    min-width               : var(--minimum-page-width);
    display                 : flex;
    flex-direction          : column;
}
.page > .title {
    height                  : var(--page-title-height);
    line-height             : var(--page-title-height);

    background-color        : var(--light-background-color);
}
.page > .title > * {
    float                   : left;
    padding-left            : calc(var(--spacing) / 2);
    padding-right           : calc(var(--spacing) / 2);
}
.page > .title .feather {
    line-height             : unset;
}
.page > .content {
    max-height              : calc(100% - var(--spacing) - var(--page-title-height) - (var(--border-size) * 0));
    overflow                : overlay;

    display                 : flex;
    flex-direction          : column;
}
.page:not(:only-child):not(:last-child) > .title {
    width                   : calc(100% - var(--spacing) + 1px);
}
.page:not(:only-child) > .title {
    box-shadow              : 0px 1px 0px var(--light-background-shade);
}
.page:not(:first-child) {
    box-shadow              : inset 1px 0px 0px var(--light-background-shade);
}
.page:not(:first-child) > .title > .name,
.page:not(:first-child) > .title > .close {
    visibility              : hidden;
    width                   : 0px;
}

.only-single-page {
    visibility          : hidden;
}
.only-multi-page {
    visibility          : visible;
}

@media(pointer: coarse) and (orientation: landscape) and (max-height: 500px),
      (pointer: fine)   and (max-width: 640px),
      (pointer: coarse) and (orientation: portrait) and (max-width: 640px) {
    :root {
        --mobile                        : 1;
        --desktop                       : 0;
    }

    .only-single-page {
        visibility      : visible;
    }
    .only-multi-page {
        visibility      : hidden;
        display         : none;
    }

    .only-multi-page-scroll {
        overflow        : unset;
    }

    .minimum-page-width {
        width           : 100%;
    }
    .minimum-page-width.padding {
        width           : calc(100% - (var(--spacing) * 2));
    }
    .only-three-maximum-page-width,
    .maximum-page-width {
        max-width       : unset !important;
        width           : 100%;
    }

    #section-login > div
    {
        width           : 100%;
        box-shadow      : unset;
        height          : 100%;
    }

    .modal,
    .dialog {
        max-height      : unset;
    }

    .modals,
    .dialogs,
    .page {
        width           : 100%;

        flex-shrink     : 0;
    }

    .modals,
    .modal,
    .dialogs,
    .dialog,
    .page {
        border-radius   : unset; 
    }

    .page {
        height          : 100%;

        transition      : margin-left 0.25s ease-out;
    }

    .page:not(:only-child):not(:last-child) > .title {
        width           : unset;
    }
    .page:not(:first-child) > .title > .name,
    .page:not(:first-child) > .title > .close {
        visibility              : unset;
        width                   : unset;
    }

    .page:first-of-type:not([data-page-state="active"]) {
        /* visibility      : hidden; */
        /* display         : none; */
        margin-left     : -100%;
    }

    .modal .title,
    .dialog .title {
        box-shadow      : var(--light-drop-shadow);

        background-color: var(--accent-background-color);
        color           : var(--accent-color);
    }

    .page > .title > .button {    
        border                  : var(--border-size) solid var(--accent-color) !important;
    }
}
@media(max-width: 960px) {
    .only-three-page {
        visibility      : hidden;
        display         : none;
    }
    .only-three-page-full-height {
        height          : auto;
    }

    .only-three-maximum-page-width {
        max-width       : var(--minimum-page-width);
    }
}
@media(max-width: 380px) {
    :root {
        --bar-spacing : calc(var(--spacing) / 1.5);
    }
}

.label {
    display                 : block;
    text-align              : left;
    margin                  : calc(var(--spacing) / 2);

    font-size               : 0.9em;
    font-weight             : var(--font-bold);
}

.label:first-child {
    margin-top              : 0 !important;
}

.padding > .label {
    margin                  : calc(var(--spacing) / 2) 
                              0
                              ;
}

.button {
    cursor                  : pointer;
    -webkit-user-select     : none;

    color                   : var(--light-color);

    background-color        : var(--light-background-color); 

    font-weight             : var(--font-bold);

    border                  : var(--light-border);
    
    padding                 : calc(var(--spacing) / 3) calc(var(--spacing) * 1);
    
    line-height             : var(--icon-size);

    text-overflow           : ellipsis;
    white-space             : nowrap;

    text-align              : center;

    border-radius           : var(--border-radius);
    box-shadow              : var(--bezel-soft);

    display                 : inline-block;

    transition              : background-color 1s;
}
.button.dark {
    color                   : var(--dark-color);

    background-color        : var(--dark-background-color); 

    border                  : var(--dark-border);

    transition              : background-color 0.2s;
}
.button.round {
    padding                 : calc(var(--spacing) *1) calc(var(--spacing) * 1);
}

.page > .title > .button {
    color                   : unset;

    background-color        : unset;

    border                  : var(--border-size) solid var(--light-color);

    padding                 : calc((var(--page-title-height) / 2) - (var(--icon-size) / 2) + 1px - (var(--border-size) * 2)) calc(var(--spacing) / 4);
}

@media(pointer: coarse) {
    .button {
        padding                 : calc(var(--spacing) / 2) calc(var(--spacing) * 1);
    }
}

.group > .button:not(:last-child) {
    border-right                : none;
}
.group > .button:not(:last-child):not(:first-child) {
    border-radius               : 0;
}
.group > .button:not(:last-child):first-child {
    border-top-right-radius     : 0;
    border-bottom-right-radius  : 0;
}
.group > .button:not(.hidden) ~ .button:not(.hidden) {
    border-top-left-radius      : 0;
    border-bottom-left-radius   : 0;
}

.select.light > select,
.button.light {
    text-shadow             : var(--secondary-bezel-text);

    color                   : var(--light-color);

    background-color        : var(--light-background-shade); 

    background-image        : linear-gradient(var(--light-background-color), var(--light-background-shade));

    border                  : var(--border-size) solid rgba(128,128,128,0.5);
}
.button.light.accent {
    color                   : var(--accent-color);

    background-image        : linear-gradient(var(--accent-background-color), var(--accent-background-shade));
}
.button.red {
    color                   : var(--red-button-color);

    text-shadow             : var(--blend-bezel-text);
}
.button.default-width {
    min-width               : 60px;
}
@media(max-width: 352px) {
    .button.default-width {
        min-width           : 30px;
    }
}
.button.max-width {
    width                   : calc(100% - (var(--spacing) / 2) );
}
.button > * {
    vertical-align          : text-bottom;
}
.button:hover {
    background-color        : transparent;

    background-blend-mode   : hard-light;
}
.button.dark:hover {
    background-color        : var(--dark-background-highlight);
}
.button:active {
    box-shadow              : none; 
}
.button > span {
    margin-left             : calc(var(--spacing) / 2);
}
.modal .button,
.dialog .button {
    margin                  : 0 calc(var(--spacing) / 2);
}
.modal .button:last-child,
.dialog .button:last-child {
    margin-right            : 0;
}
.modal .button:first-child,
.dialog .button:first-child {
    margin-left             : 0;
}
.modal .button-max-width,
.dialog .button.max-width {
    width                   : calc(100% - (var(--spacing) * 4));
}

[type="submit"] {
    color               : var(--dark-color);
    background-color    : var(--dark-color-link);
}

.input {
    width           : calc(100% - var(--spacing));
    padding         : calc(var(--spacing) / 2);

    border          : none;
    border-top      : var(--light-border);
    border-bottom   : var(--light-border);
    
    font-family     : var(--main-font);
    font-size       : 1.1em;

    transition      : box-shadow 0.2s ease-out,
                      border 0.2s ease-out
                      ; 

    margin          : 0;
}

.input.text {
    width           : 100%;

    border-radius   : 0;
}
.input.text:disabled {
    opacity         : 0.3;
}
.input.text:focus {
    border          : none;
    border-top      : var(--border-size) solid var(--accent-background-color);
    border-bottom   : var(--border-size) solid var(--accent-background-color);

    /* box-shadow      : 0px 0px 0px 1px var(--accent-background-color); */
}
.search::before {
    font-family     : var(--icon-font);
    font-size       : 20px;
    content         : '\e8bd';
    top             : calc(var(--icon-size) - (var(--spacing) * 0.75));
    right           : calc(var( --spacing) * 0.5);
    opacity         : 0.4;
    height          : 0;
    display         : block;
    position        : relative;
    text-align      : right;
}
.padding > .search::before {
    right               : calc(var( --spacing) * 1.5);
}
.padding > .input.text {
    border-radius   : calc(var(--border-radius) / 2);

    border          : var(--light-border);
}
.input.border-join-bottom {
    border-bottom-left-radius      : 0px !important;
    border-bottom-right-radius     : 0px !important;
}
.input.border-join-top {
    border-top-left-radius      : 0px !important;
    border-top-right-radius     : 0px !important;

    border-top                  : none;
}
.input::placeholder {
    opacity                     : 0.5;
}

.checkbox,
.checkbox > input[type="checkbox"],
.checkmark,
.checkmark:after {
    height                      : var(--icon-size);
    width                       : var(--icon-size); 
}
.title .checkbox,
.title .checkbox > input[type="checkbox"],
.title .checkmark,
.title .checkmark:after {
    align-self                  : center;
    /* height                      : calc(var(--icon-size) / 1.5);
    width                       : calc(var(--icon-size) / 1.5); */
}

.checkbox {
    /* margin                      : calc(var(--spacing) / 2); */

    border                      : var(--light-border);
    border-radius               : calc(var(--border-radius) / 2); 

    background-color            : var(--light-background-shade); 

    background-image            : linear-gradient(var(--light-background-shade), var(--light-background-shade));

    box-shadow                  : inset 0px 0px 3px rgba(0,0,0,0.2);

    display                     : inline-block;
    position                    : relative;
    cursor                      : pointer;
    -webkit-user-select         : none;
    -moz-user-select            : none;
    -ms-user-select             : none;
    user-select                 : none;

    text-align                  : left;

    transition                  : background-color 1s;

    overflow                    : hidden;
}

.checkbox.dark {
    background-color            : var(--dark-background-shade);

    background-image            : linear-gradient(var(--dark-background-shade), var(--dark-background-shade));
}

.title .checkbox {
    background-color            : white !important;

    background-image            : var(--light-background-color);
}
.title .checkbox:hover {
    background-blend-mode       : unset;
}

input[type="checkbox"] {
    position                    : absolute;
    opacity                     : 0;
    cursor                      : pointer;
    height                      : 0;
    width                       : 0;
    z-index                     : 1;
}

.checkbox:hover {
    background-color            : transparent;

    background-blend-mode       : hard-light;
}
.checkbox input[type="checkbox"]:checked ~ .checkmark {
    background-color            : var(--accent-background-color);

    background-image            : linear-gradient(var(--accent-background-color), var(--accent-background-shade));

    color                       : var(--accent-color);
}
.checkbox input:checked ~ .checkmark:after {
    display                     : block;
}

.checkmark {
    position                    : absolute;
    top                         : 0;
    left                        : 0;

    /* font-family                 : var(--icon-font); */

    line-height                 : var(--icon-size);

    /* color                       : var(--accent-color); */

    font-size                   : 1em;

    text-align                  : center;
}
.title .checkmark {
    line-height                 : calc(var(--icon-size) / 1); /*calc(var(--icon-size) / 1.5);*/
}

.checkmark:after {
    content                     : "\e83f";
    position                    : absolute;
    display                     : none;

    font-family                 : var(--icon-font);
    color                       : var(--accent-color);

    text-align: center;
}
.checkmark.eye:after {
    content                     : "\e86a";
}
.checkmark.eye-off:after {
    content                     : "\e86e";
}
.checkmark.lock:after {
    content                     : "\e887";
}
.checkmark.film:after {
    content                     : "\e871";
}
.checkmark.tv:after {
    content                     : "\e906";
}

:not(.title) > * > .checkbox ~ span {
    position                    : relative;
    bottom                      : calc(var(--spacing) / 4);
}

@media(pointer: coarse) {
    .checkbox,
    .checkbox > input[type="checkbox"],
    .checkmark:after,
    .checkmark {
        height                   : calc(var(--icon-size) * 1); 
        width                    : calc(var(--icon-size) * 1); 
    
        line-height              : calc(var(--icon-size) * 1);
    }

    :not(.title) > * > .checkbox,
    :not(.title) > * > .checkbox > input[type="checkbox"],
    :not(.title) > * > * > .checkmark:after,
    :not(.title) > * > * > .checkmark {
        height                   : calc(var(--icon-size) * 1.5); 
        width                    : calc(var(--icon-size) * 1.5); 
    
        line-height              : calc(var(--icon-size) * 1.5);
    }
}

.list-item {
    background-color            : var(--light-background-color);
}

.list-item:nth-child(odd) {
    background-color            : var(--light-background-item);
}

.list-item:not(.no-activate):active {
    color                       : var(--accent-color);
    background-color            : var(--accent-background-color);
}